@using AuthoritySTS.Services.Factory.Interface

<div class="reset-success-wrapper col-8 col-lg-9 col-md-11 rounded">
    <div class="instructions-wrapper p-4 d-flex col  justify-content-between">
        <div class="col-xl-6 col-lg-4 col-sm-5 py-5 text-center font-light d-flex align-items-center flex-column">
            <div class="text-white my-4">
                <img src="~/images/icons/icon-email.png" alt="Email" title="Email">
            </div>
            <h3 class="text-white mb-4 font-light">Email Sent</h3>
        </div>
    </div>
    <section class="thankyou-msg-wrapper position-absolute d-flex align-items-center justify-content-end">
        <div class="bg-white p-5 p-lg-5 p-md-2 rounded d-flex flex-column col-11 col-lg-10 col-md-7">
            <h1 class="header-text pt-4 font-light"> <span>Password Reset Request Sent </span></h1>
            <div class="note my-4 p-3 mb-5">
                <span> A password reset message was sent to your email address. Please click the link in that message to reset your password. </span>
</div>
            <h6 class="text-right my-3">
                <a asp-action="Login"> <span>FR Back to Sign In </span></a>
            </h6>
        </div>
    </section>
</div>
