@model AuthoritySTS.Models.AccountViewModels.GeneratePasswordViewModel

<script>
    toastr.options =
        {
            timeOut: 3000,
            closeButton: true
        }
    $(document).ready(function () {
        $('.form-control').focusout(function (e) {
            var id = $(this).attr("id");
            return ValidatePassword(id);
        });
        $('.form-control').keyup(function (e) {
            var id = $(this).attr("id");
            return ValidatePassword(id);

        });

    });
</script>
<script type="text/javascript">
    function ValidatePassword(id) {
        var password = $("#password").val();
        var confirmPassword = $("#confirmpassword").val();
        var passwordPattern = new RegExp(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*\W).{10,15}$/);
        var message = "Password must be at least 10 characters and should contain one uppercase letter, one lowercase letter, one number and one special character";
        if ((id == "password" || id == "All") && password != "") {
            if (!passwordPattern.test(password.trim())) {
                $("#password").removeClass("border-success");
                $("#password").addClass("border-danger");

                if (id == "All") {
                    toastr.error(message);
                    DisableButon();
                }
                return false;
            }
            else {
                $("#password").removeClass("border-danger");
            }
        }
        else {
            $("#password").removeClass("border-danger");
            $("#password").removeClass("border-success");
            if (password.trim() == "") {
                $("#password").addClass("border-danger");
                if (id == "All") {
                    toastr.error("Please enter password")
                    document.getElementById("password").focus();
                    DisableButon();
                }

                return false;
            }
        }
        if ((id == "confirmpassword" || id == "All") && confirmPassword != "") {
            if (!passwordPattern.test(confirmPassword.trim())) {
                $("#confirmpassword").removeClass("border-success");
                $("#confirmpassword").addClass("border-danger");
                if (id == "All") {
                    toastr.error("Confirm " + message);
                    DisableButon();
                }
                return false;
            }
            else {
                $("#confirmpassword").removeClass("border-danger");
            }
        }
        else {
            $("#confirmpassword").removeClass("border-danger");
            $("#confirmpassword").removeClass("border-success");
            if (confirmPassword.trim() == "") {
                $("#confirmpassword").addClass("border-danger");
                if (id == "All") {
                    toastr.error("Please enter confirm password")
                    document.getElementById("confirmpassword").focus();
                    DisableButon();
                }
                return false;
            }
        }

        if (password == confirmPassword && (password != "" && confirmPassword != "")) {
            $("#password").addClass("border-success");
            $("#confirmpassword").addClass("border-success");
        }
        else {
            $("#password").removeClass("border-success");
            $("#confirmpassword").removeClass("border-success");
        }

        return true;
    }
    function DisableButon() {
        $('#btnGeneratePassword').prop('disabled', true);
        setTimeout(function () {
            $('#btnGeneratePassword').prop('disabled', false);
        }, 4000);
    }
</script>

<section class="position-relative w-100 bg-body flex-grow-1 hero-container">
    <div class="right-top-img w-100 position-absolute"></div>
    <section class="d-flex justify-content-center align-items-center h-100">
        <section class="box-container bg-white rounded shadow-sm w-100 mx-4 d-flex justify-content-center flex-column p-4">
            <header class="d-flex justify-content-between w-100 position-relative">
                <a href="@ViewData["AngularHomeUrl"]" class="pr-2 position-relative arrow-position">
                    <img src="~/images/trigger-sign-in-logo.png" class="mb-3" alt="truvelop" title="Truvelop">
                </a>
                <div class="tooltipx cursor-pointer position-relative">
                    <span class="tooltiptext">
                        <b>Generate Password: </b> Passwords are required to have a minimum of
                        10 characters and a maximum of 15 characters. Passwords must contain at least one upper case
                        letter, one lower case letter, one number, and one special character.
                    </span>
                </div>
            </header>
            <section class="position-relative hero-content-container">
                <section class="text-center d-flex justify-content-center align-items-center flex-column">
                    <form asp-controller="Account" asp-action="GeneratePassword" method="post" autocomplete="off">
                        <div class="success-head-text">Generate Password</div>
                        <input asp-for="UserId" type="hidden" />
                        <input asp-for="Code" type="hidden" />
                        <div class="regular-text my-4">
                            Hello, there! Sign in and start managing your Truvelop account
                        </div>
                        <input asp-for="Password" id="password" class="form-control rounded mb-3 mx-auto" type="password" onkeypress="return AvoidSpace(event)" autocomplete="off"
                                           autofocus maxlength="15" onpaste="return false" oncut="return false" oncopy="return false" placeholder="Enter Password">
                        <input asp-for="ConfirmPassword" id="confirmpassword" class="form-control rounded mx-auto" type="password" onkeypress="return AvoidSpace(event)" autocomplete="off"
                                            maxlength="15" onpaste="return false" oncut="return false" oncopy="return false" placeholder="Enter Confirm Password">
                        <button type="submit" title="Submit" id="btnGeneratePassword" onclick="JavaScript: return ValidatePassword('All')"
                                class="btn btn-login text-uppercase text-center my-4">
                            submit
                        </button>
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
                                        window.onload = function ()
                                        {
                                            toastr.error("@ViewBag.Message");
                                            return false;
                                        };
                            </script>
                        }
                        <section class="text-center bottom-margin pr-2">
                            <a href="@ViewData["AuthUrl"]" title="Return to Login" class="font-md">Return to Login</a>
                        </section>
                    </form>
                </section>
                <footer class="text-center">
                    <div class="position-absolute footer"> © Truvelop. All rights reserved @DateTime.Now.Year</div>
                </footer>
            </section>
        </section>
    </section>
    <div class="left-bottom-img"></div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}