
@{
    ViewData["Title"] = "Index";
}
<h2>User - Management</h2>

@ViewData["Message"]

<div>
    <a asp-action="LockUser">Lock User</a>
</div>

<div>
    <a asp-action="UnLockUser">UnLock User</a>
</div>